<!DOCTYPE html>
<html>
<head>
	<link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    	<link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>	
	<div class="nav">
		<ul class="nav nav-pills pull-right">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
        			
        		<li><a href="/publication">Publications</a></li>

  		<li><a href="/research">Research</a></li>
		  <li><a href="/cv">CV</a></li>
		  <li><a href="/contact">Contact</a></li>
		</ul>
	</div>
	<div class="container">
			
		{{ content }}
			
	</div><!-- /.container -->
	<br>
	<footer> 
		<p align="center">&copy; 2022 Suhail Mahmud.</p>
	</footer>
</body>
</html>
